In [46]:
import pandas as pd

In [47]:
ufo = pd.read_csv('ufo_awesome.tsv', 
                  sep='\t',
                  names=["DateOccurred", "DateReported", "Location", "ShortDescription", "Duration", "LongDescription"],
                  usecols=[0,1,2,3,4,5])

In [48]:
ufo.head()

,DateOccurred,DateReported,Location,ShortDescription,Duration,LongDescription
0,19951009,19951009,"Iowa City, IA",NaN,NaN,"Man repts. witnessing &quot;flash, followed by..."
1,19951010,19951011,"Milwaukee, WI",NaN,2 min.,"Man on Hwy 43 SW of Milwaukee sees large, bri..."
2,19950101,19950103,"Shelton, WA",NaN,NaN,Telephoned Report:CA woman visiting daughter w...
3,19950510,19950510,"Columbia, MO",NaN,2 min.,Man repts. son&apos;s bizarre sighting of smal...
4,19950611,19950614,"Seattle, WA",NaN,NaN,Anonymous caller repts. sighting 4 ufo&apos;s ...

In [49]:
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61393 entries, 0 to 61392
Data columns (total 6 columns):
DateOccurred        61393 non-null int64
DateReported        61393 non-null int64
Location            61392 non-null object
ShortDescription    58870 non-null object
Duration            58969 non-null object
LongDescription     61386 non-null object
dtypes: int64(2), object(4)
memory usage: 2.8+ MB

In [50]:
#print number of rows that don't have date in them
len(ufo[ufo.DateOccurred==0])

254

In [51]:
len(ufo[ufo.DateReported==0])

0

In [52]:
#delete rows without date information.
ufo= ufo[ufo['DateOccurred'] != 0]
ufo= ufo[ufo['DateReported'] != 0]
ufo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61139 entries, 0 to 61392
Data columns (total 6 columns):
DateOccurred        61139 non-null int64
DateReported        61139 non-null int64
Location            61138 non-null object
ShortDescription    58633 non-null object
Duration            58749 non-null object
LongDescription     61132 non-null object
dtypes: int64(2), object(4)
memory usage: 3.3+ MB

In [53]:
ufo.head()

,DateOccurred,DateReported,Location,ShortDescription,Duration,LongDescription
0,19951009,19951009,"Iowa City, IA",NaN,NaN,"Man repts. witnessing &quot;flash, followed by..."
1,19951010,19951011,"Milwaukee, WI",NaN,2 min.,"Man on Hwy 43 SW of Milwaukee sees large, bri..."
2,19950101,19950103,"Shelton, WA",NaN,NaN,Telephoned Report:CA woman visiting daughter w...
3,19950510,19950510,"Columbia, MO",NaN,2 min.,Man repts. son&apos;s bizarre sighting of smal...
4,19950611,19950614,"Seattle, WA",NaN,NaN,Anonymous caller repts. sighting 4 ufo&apos;s ...

In [54]:
#Convert the dates column to date datatype
ufo["DateOccurred"] = pd.to_datetime(ufo["DateOccurred"].astype(str), format='%Y%m%d', errors='coerce')#.dt.date
ufo["DateReported"] = pd.to_datetime(ufo["DateReported"].astype(str), format='%Y%m%d', errors='coerce')

#-- Another way --
#cols = ['date1','date2']
#df[cols] = df[cols].apply(pd.to_datetime)

In [55]:
ufo.head()

,DateOccurred,DateReported,Location,ShortDescription,Duration,LongDescription
0,1995-10-09,1995-10-09,"Iowa City, IA",NaN,NaN,"Man repts. witnessing &quot;flash, followed by..."
1,1995-10-10,1995-10-11,"Milwaukee, WI",NaN,2 min.,"Man on Hwy 43 SW of Milwaukee sees large, bri..."
2,1995-01-01,1995-01-03,"Shelton, WA",NaN,NaN,Telephoned Report:CA woman visiting daughter w...
3,1995-05-10,1995-05-10,"Columbia, MO",NaN,2 min.,Man repts. son&apos;s bizarre sighting of smal...
4,1995-06-11,1995-06-14,"Seattle, WA",NaN,NaN,Anonymous caller repts. sighting 4 ufo&apos;s ...

In [56]:
#Split the Location into city and state. It by default names the new columns as 0 and 1.
df1 = ufo['Location'].str.split(',\s+', n=1, expand=True)

#drop the Location column, its now redundant
ufo.drop('Location', axis=1, inplace=True)

#merge the new columns 0 & 1 into UFO dataframe. They'll be added to the end of the dataframe.
ufo=ufo.join(df1)

#rename the columns 0 & 1 to City and State
ufo.columns.values[[5, 6]] = ['City', 'State']

#Rearrange the columns and bring City & State column where Location column used to be.
ufo = ufo[['DateOccurred', 'DateReported','City','State','ShortDescription','Duration','LongDescription']]
ufo.head()

,DateOccurred,DateReported,City,State,ShortDescription,Duration,LongDescription
0,1995-10-09,1995-10-09,Iowa City,IA,NaN,NaN,"Man repts. witnessing &quot;flash, followed by..."
1,1995-10-10,1995-10-11,Milwaukee,WI,NaN,2 min.,"Man on Hwy 43 SW of Milwaukee sees large, bri..."
2,1995-01-01,1995-01-03,Shelton,WA,NaN,NaN,Telephoned Report:CA woman visiting daughter w...
3,1995-05-10,1995-05-10,Columbia,MO,NaN,2 min.,Man repts. son&apos;s bizarre sighting of smal...
4,1995-06-11,1995-06-14,Seattle,WA,NaN,NaN,Anonymous caller repts. sighting 4 ufo&apos;s ...

In [57]:
# Select only those records in UFO that are in the US 50 states.
# get a list of all 50 US States
data = ["AK","AL","AR","AZ","CA","CO","CT","DC","DE","FL","GA","HI","IA","ID","IL","IN","KS","KY","LA","MA","MD","ME","MI","MN","MO","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VA","VT","WA","WI","WV","WY"]

#Match 'data' with 'State' column of UFO, if present, then keep that record, else drop that record.
ufo = ufo[ufo['State'].isin(data)]
ufo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51669 entries, 0 to 61392
Data columns (total 7 columns):
DateOccurred        51667 non-null datetime64[ns]
DateReported        51669 non-null datetime64[ns]
City                51669 non-null object
State               51669 non-null object
ShortDescription    49520 non-null object
Duration            49755 non-null object
LongDescription     51664 non-null object
dtypes: datetime64[ns](2), object(5)
memory usage: 3.2+ MB

In [58]:
ufo

,DateOccurred,DateReported,City,State,ShortDescription,Duration,LongDescription
0,1995-10-09,1995-10-09,Iowa City,IA,NaN,NaN,"Man repts. witnessing &quot;flash, followed by..."
1,1995-10-10,1995-10-11,Milwaukee,WI,NaN,2 min.,"Man on Hwy 43 SW of Milwaukee sees large, bri..."
2,1995-01-01,1995-01-03,Shelton,WA,NaN,NaN,Telephoned Report:CA woman visiting daughter w...
3,1995-05-10,1995-05-10,Columbia,MO,NaN,2 min.,Man repts. son&apos;s bizarre sighting of smal...
4,1995-06-11,1995-06-14,Seattle,WA,NaN,NaN,Anonymous caller repts. sighting 4 ufo&apos;s ...
5,1995-10-25,1995-10-24,Brunswick County,ND,NaN,30 min.,Sheriff&apos;s office calls to rept. that depu...
6,1995-04-20,1995-04-19,Fargo,ND,NaN,2 min.,Female student w/ friend witness huge red ligh...
7,1995-09-11,1995-09-11,Las Vegas,NV,NaN,NaN,"Man repts. bright, multi-colored obj. in NW ni..."
8,1995-01-15,1995-02-14,Morton,WA,NaN,NaN,Woman reports 2 craft fly over house. Strange...
9,1995-09-15,1995-09-15,Redmond,WA,NaN,6 min.,"Young man w/ 2 co-workers witness tiny, distin..."
10,1994-08-01,1995-02-20,Renton,WA,NaN,NaN,Man repts. seeing 2x large ships hovering in n...
11,1995-07-22,1995-07-24,Springfield,IL,NaN,1 min.,"Man &amp; mother report small, glowing, cigar-..."
12,1995-06-11,1995-06-12,Sharon,MA,NaN,NaN,"Man witnessed &quot;tablet shaped obj., like s..."
13,1995-08-21,1995-08-23,Laporte,WA,NaN,5 sec.,Several children report to their father that t...
14,1995-04-16,1995-04-16,Villa Rica,GA,NaN,NaN,GA Hwy. Patrol dispatch repts. trooper observe...
15,1995-02-07,1995-02-07,Raymond,WA,NaN,NaN,Woman witnesses object. (Facts unclear.)
16,1995-11-18,1995-11-17,Orlando,FL,NaN,NaN,Woman repts. bizarre &quot;half circle&quot; o...
17,1995-06-10,1995-06-11,Glade Spring,VA,NaN,5 min.,"Woman, children, and grandmother witness 4 biz..."
18,1995-05-14,1995-05-14,Silver Beach,NY,NaN,25 min.,Woman repts. eight people observing very large...
19,1995-02-04,1995-02-04,Lewiston,MT,NaN,NaN,Man &amp; wife witness bright white light w/ r...
20,1995-08-12,1995-09-11,Fort Myers Beach,FL,NaN,NaN,Woman witnesses &quot;meteor shower&quot; over...
21,1995-11-06,1995-11-06,St. Augustine,FL,NaN,20 sec.,Anon. rpt. of bizarre obj. that &quot;looked l...
22,1995-06-28,1995-06-28,Lisbon,ME,NaN,NaN,Young man looking out window sees very bright...
23,1995-03-14,1995-03-14,Fontana,CA,NaN,5 min.,Nine adults witnessing 6-8 objects moving in w...
24,1995-03-06,1995-03-07,Hilltop,NJ,NaN,5 sec.,Young boy reports seeing oval-shaped object w/...
25,1995-05-06,1995-05-16,Lebanon,OR,NaN,NaN,"Woman repts. seeing two large, bright objects,..."
26,1995-07-30,1995-07-30,Newtown,CT,NaN,30 sec.,Man &amp; wife witness two sightings of an obj...
27,1995-08-22,1995-08-22,Prescott,AZ,NaN,2 sec.,Father &amp; son witness strange obj. streak a...
28,1995-02-07,1995-02-07,Quilcene,WA,NaN,20 sec,Bangor Facility empl. witnesses 6 strange ligh...
29,1995-09-09,1995-09-10,Silverdale,WA,NaN,2 sec.,Man outside smoking witnesses 3 &quot;dull ora...
...,...,...,...,...,...,...,...
61360,2010-08-16,2010-08-16,Pittstown,NJ,circle,TBD,Object may have landed in area that saw simila...
61361,2010-08-05,2010-08-07,San Antonio,TX,sphere,30 minutes or so,"Sphere-like UFO sighted over San Antonio, Texa..."
61362,2010-08-28,2010-08-28,Ardsley,NY,other,30 seconds,Flame- like light moving across sky at helicop...
61364,2010-08-21,2010-08-21,Morris,IL,fireball,45 seconds,four fireballs moving rapidly south at 9:45pm ...
61365,2010-08-21,2010-08-26,Washington (near),PA,unknown,45 seconds,Large white craft seen on 1-70W during morning...
61366,2010-08-11,2010-08-10,Marshall,AR,light,30 mins,Me and my friend decided to drive to the top o...
61367,2010-08-26,2010-08-27,Lapeer,MI,circle,3 hours,Illuminating circular object whisking through ...
61368,2010-08-07,2010-08-07,Cooperstown,NY,fireball,3 minutes,"A bright orange ball moving south, stopping an..."
61369,2010-08-19,2010-08-19,Wheat Ridge,CO,circle,2 minutes,A Brilliant White Light Like I have never seen...
61370,2010-08-08,2010-08-12,Fond du Lac,WI,circle,1 - 1.5 minutes,very bright and silent light traveling across ...
61371,2010-08-14,2010-08-21,Waterville,WA,oval,5-7seconds,"fast rice shaped craft seenHello,On aug.14th, ..."
61372,2010-08-10,2010-08-10,North Myrtle Beach,SC,light,20 minutes,This was an orange ball of light just over the...
61373,2010-08-29,2010-08-29,Bellevue,WA,flash,over 20 minutes,Bright flashing light travels erratically in b...
61374,2010-08-19,2010-08-19,Laguna Beach,CA,fireball,3 seconds,Bright massive object falling in the skyA mass...
61375,2010-08-12,2010-08-13,Montgomery,AL,unknown,One minute,"High, fast, zig-zag/wobbly flight pattern ...M..."
61376,2010-08-27,2010-08-27,Craig (Coffman Cove Road),AK,circle,3 min,big green light in the sky.what i saw was a m...
61377,2010-08-08,2010-08-08,Anaheim,CA,cross,23 minutes,"Cross-like UFO off 91 freeway in Anaheim, CA.O..."
61379,2009-12-31,2010-08-10,Slidell,LA,sphere,3 mins.,Two lighted translucent spherical craft travel...
61380,2010-08-14,2010-08-14,Ocala,FL,light,2 seconds,I seen a blunt horizontal oval light streak th...
61381,2010-08-11,2010-08-12,Medford,OR,triangle,15 minutes,looking North we saw a triangle shaped object ...
61382,2010-08-15,2010-08-17,Weaverville,CA,fireball,about an hour,orange ball of light spotted at trinity lake w...
61383,2010-08-07,2010-08-10,St. Clair Shores,MI,unknown,1 minute,Orange-yellow light at high altitude in Detroi...
61384,2010-08-26,2010-08-26,Downers Grove,IL,light,2 minutes,Two bright lights in sky that almost hit then ...
61385,2010-07-01,2010-08-28,Blue Springs,MO,light,15 seconds,MISSOURI INVESTIGATORS GROUP REPORT: Observed ...
61386,2010-08-28,2010-08-27,Mason,OH,disk,30min,i was looking up at the sky for the internatio...
61387,2010-08-28,2010-08-28,Los Angeles,CA,disk,40 seconds,We were heading to get dinner when all three o...
61388,2009-04-24,2010-08-20,Hartwell,GA,oval,10 min,never seen anything like it.i was drivivg home...
61389,2010-08-21,2010-08-26,Franklin Square,NY,fireball,20 minutes,multiple fireballs in sky over long islandat 1...
61390,2010-08-27,2010-08-27,Brighton,CO,circle,at lest 45 min,"Very bright flashing in a pattern of red, whit..."
61392,2005-05-02,2010-08-24,Fort Knox,KY,triangle,15 seconds,Flash of light made me look up to see a dark c...

In [71]:
ufo.reset_index(inplace=True)
ufo

,index,DateOccurred,DateReported,City,State,ShortDescription,Duration,LongDescription
0,0,1995-10-09,1995-10-09,Iowa City,IA,NaN,NaN,"Man repts. witnessing &quot;flash, followed by..."
1,1,1995-10-10,1995-10-11,Milwaukee,WI,NaN,2 min.,"Man on Hwy 43 SW of Milwaukee sees large, bri..."
2,2,1995-01-01,1995-01-03,Shelton,WA,NaN,NaN,Telephoned Report:CA woman visiting daughter w...
3,3,1995-05-10,1995-05-10,Columbia,MO,NaN,2 min.,Man repts. son&apos;s bizarre sighting of smal...
4,4,1995-06-11,1995-06-14,Seattle,WA,NaN,NaN,Anonymous caller repts. sighting 4 ufo&apos;s ...
5,5,1995-10-25,1995-10-24,Brunswick County,ND,NaN,30 min.,Sheriff&apos;s office calls to rept. that depu...
6,6,1995-04-20,1995-04-19,Fargo,ND,NaN,2 min.,Female student w/ friend witness huge red ligh...
7,7,1995-09-11,1995-09-11,Las Vegas,NV,NaN,NaN,"Man repts. bright, multi-colored obj. in NW ni..."
8,8,1995-01-15,1995-02-14,Morton,WA,NaN,NaN,Woman reports 2 craft fly over house. Strange...
9,9,1995-09-15,1995-09-15,Redmond,WA,NaN,6 min.,"Young man w/ 2 co-workers witness tiny, distin..."
10,10,1994-08-01,1995-02-20,Renton,WA,NaN,NaN,Man repts. seeing 2x large ships hovering in n...
11,11,1995-07-22,1995-07-24,Springfield,IL,NaN,1 min.,"Man &amp; mother report small, glowing, cigar-..."
12,12,1995-06-11,1995-06-12,Sharon,MA,NaN,NaN,"Man witnessed &quot;tablet shaped obj., like s..."
13,13,1995-08-21,1995-08-23,Laporte,WA,NaN,5 sec.,Several children report to their father that t...
14,14,1995-04-16,1995-04-16,Villa Rica,GA,NaN,NaN,GA Hwy. Patrol dispatch repts. trooper observe...
15,15,1995-02-07,1995-02-07,Raymond,WA,NaN,NaN,Woman witnesses object. (Facts unclear.)
16,16,1995-11-18,1995-11-17,Orlando,FL,NaN,NaN,Woman repts. bizarre &quot;half circle&quot; o...
17,17,1995-06-10,1995-06-11,Glade Spring,VA,NaN,5 min.,"Woman, children, and grandmother witness 4 biz..."
18,18,1995-05-14,1995-05-14,Silver Beach,NY,NaN,25 min.,Woman repts. eight people observing very large...
19,19,1995-02-04,1995-02-04,Lewiston,MT,NaN,NaN,Man &amp; wife witness bright white light w/ r...
20,20,1995-08-12,1995-09-11,Fort Myers Beach,FL,NaN,NaN,Woman witnesses &quot;meteor shower&quot; over...
21,21,1995-11-06,1995-11-06,St. Augustine,FL,NaN,20 sec.,Anon. rpt. of bizarre obj. that &quot;looked l...
22,22,1995-06-28,1995-06-28,Lisbon,ME,NaN,NaN,Young man looking out window sees very bright...
23,23,1995-03-14,1995-03-14,Fontana,CA,NaN,5 min.,Nine adults witnessing 6-8 objects moving in w...
24,24,1995-03-06,1995-03-07,Hilltop,NJ,NaN,5 sec.,Young boy reports seeing oval-shaped object w/...
25,25,1995-05-06,1995-05-16,Lebanon,OR,NaN,NaN,"Woman repts. seeing two large, bright objects,..."
26,26,1995-07-30,1995-07-30,Newtown,CT,NaN,30 sec.,Man &amp; wife witness two sightings of an obj...
27,27,1995-08-22,1995-08-22,Prescott,AZ,NaN,2 sec.,Father &amp; son witness strange obj. streak a...
28,28,1995-02-07,1995-02-07,Quilcene,WA,NaN,20 sec,Bangor Facility empl. witnesses 6 strange ligh...
29,29,1995-09-09,1995-09-10,Silverdale,WA,NaN,2 sec.,Man outside smoking witnesses 3 &quot;dull ora...
...,...,...,...,...,...,...,...,...
51639,61360,2010-08-16,2010-08-16,Pittstown,NJ,circle,TBD,Object may have landed in area that saw simila...
51640,61361,2010-08-05,2010-08-07,San Antonio,TX,sphere,30 minutes or so,"Sphere-like UFO sighted over San Antonio, Texa..."
51641,61362,2010-08-28,2010-08-28,Ardsley,NY,other,30 seconds,Flame- like light moving across sky at helicop...
51642,61364,2010-08-21,2010-08-21,Morris,IL,fireball,45 seconds,four fireballs moving rapidly south at 9:45pm ...
51643,61365,2010-08-21,2010-08-26,Washington (near),PA,unknown,45 seconds,Large white craft seen on 1-70W during morning...
51644,61366,2010-08-11,2010-08-10,Marshall,AR,light,30 mins,Me and my friend decided to drive to the top o...
51645,61367,2010-08-26,2010-08-27,Lapeer,MI,circle,3 hours,Illuminating circular object whisking through ...
51646,61368,2010-08-07,2010-08-07,Cooperstown,NY,fireball,3 minutes,"A bright orange ball moving south, stopping an..."
51647,61369,2010-08-19,2010-08-19,Wheat Ridge,CO,circle,2 minutes,A Brilliant White Light Like I have never seen...
51648,61370,2010-08-08,2010-08-12,Fond du Lac,WI,circle,1 - 1.5 minutes,very bright and silent light traveling across ...
51649,61371,2010-08-14,2010-08-21,Waterville,WA,oval,5-7seconds,"fast rice shaped craft seenHello,On aug.14th, ..."
51650,61372,2010-08-10,2010-08-10,North Myrtle Beach,SC,light,20 minutes,This was an orange ball of light just over the...
51651,61373,2010-08-29,2010-08-29,Bellevue,WA,flash,over 20 minutes,Bright flashing light travels erratically in b...
51652,61374,2010-08-19,2010-08-19,Laguna Beach,CA,fireball,3 seconds,Bright massive object falling in the skyA mass...
51653,61375,2010-08-12,2010-08-13,Montgomery,AL,unknown,One minute,"High, fast, zig-zag/wobbly flight pattern ...M..."
51654,61376,2010-08-27,2010-08-27,Craig (Coffman Cove Road),AK,circle,3 min,big green light in the sky.what i saw was a m...
51655,61377,2010-08-08,2010-08-08,Anaheim,CA,cross,23 minutes,"Cross-like UFO off 91 freeway in Anaheim, CA.O..."
51656,61379,2009-12-31,2010-08-10,Slidell,LA,sphere,3 mins.,Two lighted translucent spherical craft travel...
51657,61380,2010-08-14,2010-08-14,Ocala,FL,light,2 seconds,I seen a blunt horizontal oval light streak th...
51658,61381,2010-08-11,2010-08-12,Medford,OR,triangle,15 minutes,looking North we saw a triangle shaped object ...
51659,61382,2010-08-15,2010-08-17,Weaverville,CA,fireball,about an hour,orange ball of light spotted at trinity lake w...
51660,61383,2010-08-07,2010-08-10,St. Clair Shores,MI,unknown,1 minute,Orange-yellow light at high altitude in Detroi...
51661,61384,2010-08-26,2010-08-26,Downers Grove,IL,light,2 minutes,Two bright lights in sky that almost hit then ...
51662,61385,2010-07-01,2010-08-28,Blue Springs,MO,light,15 seconds,MISSOURI INVESTIGATORS GROUP REPORT: Observed ...
51663,61386,2010-08-28,2010-08-27,Mason,OH,disk,30min,i was looking up at the sky for the internatio...
51664,61387,2010-08-28,2010-08-28,Los Angeles,CA,disk,40 seconds,We were heading to get dinner when all three o...
51665,61388,2009-04-24,2010-08-20,Hartwell,GA,oval,10 min,never seen anything like it.i was drivivg home...
51666,61389,2010-08-21,2010-08-26,Franklin Square,NY,fireball,20 minutes,multiple fireballs in sky over long islandat 1...
51667,61390,2010-08-27,2010-08-27,Brighton,CO,circle,at lest 45 min,"Very bright flashing in a pattern of red, whit..."
51668,61392,2005-05-02,2010-08-24,Fort Knox,KY,triangle,15 seconds,Flash of light made me look up to see a dark c...

In [66]:
#Count number of Sightings since 1990 yearwise
yearWiseDF = ufo[ufo['DateOccurred'] >= '1990-01-01'].
                groupby(ufo.DateOccurred.dt.to_period("Y")).
                size().
                to_frame('Sightings Count').
                reset_index()
yearWiseDF

   DateOccurred  Sightings Count
0          1990              200
1          1991              192
2          1992              215
3          1993              264
4          1994              356
5          1995             1288
6          1996              794
7          1997             1139
8          1998             1637
9          1999             2629
10         2000             2573
11         2001             2853
12         2002             2883
13         2003             3449
14         2004             3790
15         2005             3716
16         2006             3370
17         2007             3984
18         2008             4546
19         2009             4098
20         2010             2396

In [70]:
#Count number of Sightings in each State
stateWiseDF = ufo.groupby(ufo.State).
                  size().
                  sort_values(ascending=False).
                  to_frame('Sightings Count').
                  reset_index()
stateWiseDF

   State  Sightings Count
0     CA             7507
1     WA             3302
2     TX             2996
3     FL             2813
4     NY             2392
5     AZ             2078
6     IL             2044
7     PA             1788
8     OH             1667
9     MI             1536
10    OR             1396
11    NC             1205
12    MO             1187
13    CO             1155
14    NJ             1126
15    IN             1043
16    GA              975
17    VA              910
18    MA              905
19    WI              899
20    TN              867
21    MN              750
22    NV              705
23    KY              685
24    NM              626
25    CT              614
26    MD              607
27    SC              582
28    OK              555
29    AR              520
30    KS              504
31    AL              496
32    IA              489
33    UT              469
34    LA              452
35    ME              410
36    ID              360
37    NH              350
38    MT              346
39    WV              338
40    NE              321
41    MS              317
42    HI              240
43    AK              229
44    RI              191
45    VT              172
46    WY              163
47    SD              140
48    DE              124
49    ND              111
50    DC               12